#error{
    -fx-text-fill: Red;
}
#blue-menu{
    -fx-background-color: SteelBlue;
}
#workspace{
    -fx-background-color: White;
    -fx-margin-top: 50px;
}
.hyperlink{
    -fx-text-fill: White;
    -fx-font-size: 15px;
}
.label{
    -fx-text-fill: Black;
}
.text-field{
    -fx-max-width: 400px;
    -fx-pref-height: 50px;
    -fx-font-size: 20px;
}
.button{
    -fx-max-width: 80px;
    -fx-pref-height: 40px;
}
#small-field{
    -fx-max-width: 100px;
    -fx-max-height: 20px;
    -fx-pref-width: 50px;
    -fx-font-size: 13px;
}
#row1{
    -fx-background-color: Azure;
    -fx-max-width: 400px;
}

