#blue-Vbox{
    -fx-background-color: SteelBlue;
}
.h-box{
    -fx-background-color: SteelBlue;
}
.label{
    -fx-text-fill: Black;
}
#workspace{
    -fx-background-color: White;
}
.hyperlink{
    -fx-text-fill: White;
}