#error{
    -fx-text-fill: Red;
}
#blue-menu{
    -fx-background-color: SteelBlue;
}
#workspace{
    -fx-background-color: White;
    -fx-alignment: center;
}
.hyperlink{
    -fx-text-fill: White;
    -fx-font-size: 15px;
}
.text-field{
    -fx-max-width: 400px;
    -fx-pref-height: 50px;
    -fx-font-size: 20px;
}
.button{
    -fx-max-width: 80px;
    -fx-pref-height: 40px;
}
#small-field{
    -fx-max-height: 20px;
    -fx-min-width: 83px;
    -fx-font-size: 13px;
    -fx-background-color: Azure;
}
#row1{
    -fx-background-color: Azure;
    -fx-max-width: 500px;
    -fx-alignment: center;
}
#header{
    -fx-background-color: Azure;
    -fx-max-width: 500px;
    -fx-alignment: center;
    -fx-font-weight: bold;
}
#menu-bar-exit{
    -fx-alignment: center;
    -fx-background-color: #D3D3D3;
    -fx-min-width: 50px;
    -fx-min-height: 25px;
    -fx-margin-left: 20px;
    -fx-background-insets: 0 0 -4 0, 0, 4, 8;
}
#menu-bar-exit:hover{
    -fx-background-color: Red;
    -fx-text-fill: White;
}
#menu-bar-logout{
    -fx-alignment: center;
    -fx-background-color: #D3D3D3;
    -fx-min-width: 50px;
    -fx-min-height: 25px;
    -fx-margin-left: 20px;
    -fx-background-insets: 0 0 -4 0, 0, 4, 8;
}
#menu-bar-logout:hover{
    -fx-background-color: SteelBlue;
    -fx-text-fill: White;
}
.menu-bar{
    -fx-background-color: #D3D3D3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
}

